﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm4.aspx.cs" Inherits="InternetKitapSatis2B.WebForm4" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 360px;
        }
        .auto-style2
        {
            width: 1024px;
            height: 166px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <div id="ortala">
&nbsp;
            <img alt="" class="auto-style2" src="images/BookBanner.jpg" /><br />
            <table align="center" border="1" height="177" width="508">
                <tr>
                    <td width="138">ISBN No:</td>
                    <td class="auto-style1">
                        <label>
                        <input id="textfield" name="textfield" size="60" type="text" />
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Kitap Adı:</td>
                    <td class="auto-style1">
                        <input id="textfield2" name="textfield2" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>Yazarı:</td>
                    <td class="auto-style1">
                        <input id="textfield3" name="textfield3" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>Sayfa Sayısı:</td>
                    <td class="auto-style1">
                        <input id="textfield4" name="textfield4" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>Türü:</td>
                    <td class="auto-style1">
                        <input id="textfield5" name="textfield5" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>Yayın Evi:</td>
                    <td class="auto-style1">
                        <input id="textfield6" name="textfield6" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>Baskı Sayısı:</td>
                    <td class="auto-style1">
                        <input id="textfield7" name="textfield7" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>Geliş Tarihi:</td>
                    <td class="auto-style1">
                        <input id="textfield8" name="textfield8" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>Stok Sayısı:</td>
                    <td class="auto-style1">
                        <input id="textfield9" name="textfield9" size="60" type="text" /></td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                    </td>
                    <td class="auto-style1">
                        <label>
                        <input id="button" name="button" type="submit" value="Kaydet" />
                        <input id="button2" name="button2" type="reset" value="İptal" />
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    
    </div>
    </form>
</body>
</html>
