﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="üye.aspx.cs" Inherits="InternetKitapSatis2B.üye" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <br />
        <asp:DataList ID="DataList1" runat="server">
              <ItemTemplate> Kitap ID = <%#Eval("ID") %>
                <br />
                Kitap Adi = <%#Eval("Adi") %>
                <br />
                YayinEvi = <%#Eval("YayinEvi") %>
                <br />
                <hr />
                <asp:Button ID="btnDuzenle" runat="server" Text="Düzenle" /><asp:Button ID="btnSil" runat="server" Text="Sil" />

                
            </ItemTemplate>
            <AlternatingItemTemplate>

                Kitap ID = <%#Eval("ID") %>
                <br />
                Kitap Adi = <%#Eval("Adi") %>
                <br />
                YayinEvi = <%#Eval("YayinEvi") %>
                <br />
                <hr />
                <asp:Button ID="btnDuzenle" runat="server" Text="Düzenle" /><asp:Button ID="btnSil" runat="server" Text="Sil" />
            </AlternatingItemTemplate> <AlternatingItemStyle BackColor="Aqua" />

                
            
        </asp:DataList>
    
    </div>
    </form>
</body>
</html>
